@using PagedList.Mvc
@model IPagedList<ExerciseSession>

<div id="exerciseSessionList">
    
    
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Elevation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Speed)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Elevation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    @Html.Partial("_SpeedTimeSpan", item)
                </td>
            </tr>
        }

    </table>
    
    <div class="pagedList" data-rka-target="#exerciseSessionList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), 
            PagedListRenderOptions.MinimalWithItemCountText)
    </div>

</div>