@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h1 class="pageHeading">Exercise Sessions</h1>

<div class="bodyWrapper row">
    <div class="leftContentContainer col-md-3 col-xs-12">

        <form method="get" action="@Url.Action("Index")"
              data-rka-ajax="true" data-rka-target="#exerciseSessionList">
            
            <div class="filterBox">
                <div id="accordian">
                    <ul>
                        <li>
                            <h3 class="filter-list-title">Sort By</h3>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="sortLabel" for="sortByDateDesc">Date Descending</label>
                                        <input class="sortInput" id="sortByDateDesc" type="radio" name="sortTerm" value="DateDesc" checked />
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="sortLabel" for="sortByDateAsc">Date Ascending</label>
                                        <input class="sortInput" id="sortByDateAsc" type="radio" name="sortTerm" value="DateAsc"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="sortLabel" for="sortByDistance">Distance</label>
                                        <input class="sortInput" id="sortByDistance" type="radio" name="sortTerm" value="Distance" />
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="filter-list-title">Distance</h3>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DistanceFrom)
                                        @Html.TextBoxFor(m => m.DistanceFrom, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DistanceFrom)
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DistanceTo)
                                        @Html.TextBoxFor(m => m.DistanceTo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DistanceTo)
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="filter-list-title">Dates</h3>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DateFrom)
                                        @*@Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control" })*@
                                        <input type="date" class="form-control" name="dateFrom" />
                                        @Html.ValidationMessageFor(m => m.DateFrom)
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DateTo)
                                        @*@Html.TextBoxFor(m => m.DateTo, new { @class = "form-control" })*@
                                        <input type="date" class="form-control" name="dateTo"/>
                                        @Html.ValidationMessageFor(m => m.DateTo)
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <p>
                    <input type="submit" class="btn" value="Refresh Data" />
                    <a href="/">Reset Filters</a>
                </p>
            </div>
        </form>
    </div>
    <div class="mainContentContainer col-md-9 col-xs-12">

        @Html.Partial("_ExerciseSessions", Model.ExerciseSessions)

    </div>
</div>

@section Scripts {

}